/*    */
:root {
    --tipo-subtitulo: Verdana, sans-serif;
    --estilo-letra: bold;
    --tamano-letra: 0.8rem;
    --letra-mnu: Anton, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/*    */
/****zona de menu de REGISTRO CONTACTOS   LINEA 1 *****/
/*    */
#mnu-registro-contacto {
    padding: 0;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: red;
}

.cuadro-boton {
    margin-right: 2%;
    width: 8%;
    background: radial-gradient(circle, red, rgb(204, 83, 83));
    border-radius: 25%;
}

.cuadro-boton:hover {
    background: radial-gradient(circle, red, rgb(66, 63, 63));

    .user-linea1 {
        color: rgb(216, 156, 156);
    }
}

#contactos {
    margin-right: 5%;
}

.user-linea1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    font-family: vardana;
    font-weight: bold;
    font-size: 90%;
    color: white;
}

/*    */
/**** ZONA DE  MNU INTERNOS   LINEA 2 */
/*    */
#nav-interno {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 4rem;
    border: 1px solid red;
    border: 2px solid white;
}

#logotipo {
    display: flex;
    justify-content: center;
    width: 9%;
    height: 85%;
    margin-top: 5px;
    margin-left: 3%;
    border-radius: 25px;
    padding-right: 3%;
}

#logotipo img {
    width: 80%;
    height: auto;
}


.clase-mnu-nosotros {
    width: 13%;
    height: 100%;

}

.clase-mnu-nosotros p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16%;
    color: white;
    font-family: vardana;
    font-weight: bold;
    font-size: 90%;
}

#mnu-search {
    display: flex;
    width: 15%;
    height: 45%;
    padding-left: 3px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: 5%;
    justify-content: left;
    align-items: center;
    color: rgb(224, 162, 162);
    font-family: vardana;
    font-weight: bold;
    font-size: 100%;
    margin-top: 1.3%;
}

#mnu-search img {
    display: flex;
    width: 13%;
    height: auto;
    margin-left: auto;
}

/*    */
/**** ZONA DE  INFORMACION DE NAVEGACION LINEA 3    */
/*    */
#informacion-nav {
    width: 100%;
    height: 2rem;
    background-color: rgb(252, 249, 250);
}

.inicio {
    margin-top: .7%;
    display: flex;
    margin-left: 2%;
    align-items: center;
    color: red;
    text-decoration: none;
    font-family: vardana;
    font-weight: bold;
}

/*    */
/**** ZONA DE  INICIO PAGINA 1    */
/*    */
.slider {
    display: flex;
    width: 100%;
    height: 670px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: auto;
    display: none;
}


.slider img.active {
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

#slice-derecho {
    margin-top: -20%;
    margin-left: 1%;
    width: 2.5%;
    height: 5%;
    position: fixed;
    z-index: 2;
}

#slice-izquierdo {
    margin-top: -20%;
    margin-left: 97%;
    width: 2.5%;
    height: 5%;
    position: fixed;
    z-index: 2;
}

.img-slice {
    width: 100%;
    height: auto;
}

.fig-linea1 {
    margin-top: 5.2%;
    display: flex;
    width: 10%;
    height: 1px;
    margin-left: 20%;
    background-color: black;
}

.fig-linea2 {
    margin-top: 5.2%;
    display: flex;
    width: 10%;
    height: 1px;
    margin-right: 20%;
    background-color: black;
}

#figura {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 100px;
    margin-left: 5%;
    background-color: white;
    border-radius: 20rem 20rem 0 0;
    color: white;
    position: absolute;
    top: 93%;
    transform: translateY(-70%);
}

#figura1 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 6%;
    width: 50%;
    height: 45%;
    border: 2px solid rgb(5, 5, 5);
    border-radius: 30px 30px 0 0;
    color: RED;
    transform: translateY(-70%);
    box-shadow: inset 0 0 20px red;
    font-size: 150%;
    font-family: vardana;
    font-weight: bold;
}
#figura1 img{
width: 3%;
}
